name: CI Pipeline

on:
  push:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Smoke Test
        run: python -m unittest tests.smoke_test

      - name: Run Unit Test
        run: python -m unittest tests.unit_test

      - name: Run Integration Test
        run: python -m unittest tests.integration_test

      - name: Build Docker Image
        run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:2.0 .

      - name: Test Container Launch
        run: |
          docker run -d --name test-container -p 5000:5000 ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:2.0
          sleep 5
          docker exec test-container python --version
          docker stop test-container
          docker rm test-container

      # (f) Push Image to DockerHub 
      - name: Docker Login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Push Docker Image
        run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/weather-ml-app:2.0
